h2 {
  font-family: 'Dela Gothic One';
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #000;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #757575;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.button {
  appearance: none;
  display: flex;
  background-color: #C3DCE3;
  padding: 12px 20px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #2b788b;
  width: fit-content;
  transition: 0.3s ease;

  @media screen and (min-width: 768px) {
    padding: 14px 22px;
  }

  &:hover {
    filter: contrast(1.2);
  }

  &.button--boots,
  &.button--horn {
    position: relative;
    flex-direction: column;
    border-radius: 14px;
    text-align: center;
    padding-top: 75px;
    width: 131px;


    img{
      width: 131px;
      height: 107px;
      position: absolute;
      top: -35px;
    }
  }

  &.button--horn{
    width: 172px;

    img{
      width: 92px;
    }
  }

  &.button--color-pink{
    background-color: #F2D4DC;
    color: #945069;
  }

  &.button--color-blue{
    background-color: #c3dce3;
    color: #2b788b;
  }
}

