body {
  font-family: 'Montserrat';
  width: auto;
  height: auto;
}

.main {
  //padding-top: 92px;  //the first method of fixing headers + main {padding 92px}
}

.container {
  max-width: calc(1920px - 370px * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }
}

.container--header {
  max-width: calc(1920px - 370px * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  min-height: 90px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }
}

.header {
/*
  width: 100%;
  position: fixed;   //the first method of fixing headers + main {padding 92px}
  z-index: 1;
*/

  position: sticky;
  top: -1px;            //second method of fixing headers
  z-index: 50;

  border-bottom: 2px solid #E0E0E0;
}

.header__navigation {
  display: flex;
  flex-direction: row;
}

.header__burger-menu {
  display: flex;
  height: 25px;
  //width: 25px;
  background-image: url("../img/Burger-lines.png");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding-right: 57px;
  transition: background-image 10s;

  &:active {
    background-image: url("../img/byrger-close\(x\).png");
    transition: background-image 0s;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__logo {

  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000000;
  transition: 0.3s;
  order: 2;

  @media screen and (min-width: 768px) {
    border-right: 2px solid #e0e0e0;
    padding-right: 30px;
    font-size: 21px;
    order: 1;
  }

  &:hover {
      color: #8d8d8d;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  order: 1;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    order: 2;
  }

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    transition: 0.3s;

    &:hover {
      color: #303030;
    }

    &:first-child {
      color: #000000;

      &:hover {
        color: #8d8d8d;
      }
    }
  }
}

.header__dropdown {
  position: relative;
  pointer-events: all;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  background-color: #F6F5F4;
  transition: 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: #303030;

    img {
    padding-top: 3px;
    }

    .header__dropdown-item {
      z-index: 100;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__dropdown-item {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: collapse;
  z-index: -100;
  opacity: 0;
  transition: 0.5s;
  margin-top: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 175px;
  border-radius: 15px;
  background-color: #fff;
  color: #757575;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
      &:first-child {
        color: #757575;

      &:hover {
        color: #303030;
      }
    }
  }
}

.header__log-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.log-in__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  @media screen and (min-width: 768px) {
    .log-in__info {
      img {
        display: none;
      }
    }
  }
}

.log-in__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: #C3DCE3;
  transition: 0.3s;

  &:hover {
    filter: contrast(0.85);
  }

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
  }
}

.log-in__user {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  transition: 0.3s;

  &:hover {
      color: #303030;
  }
}

.log-in__authoriz {
  display: none;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    transition: 0.3s;

    &:hover {
      color: #8d8d8d;
    }
  }
}

.men {
  background-color: #fff;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.men__main {
  flex-basis: 45%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 95px 0px 135px 0px;
  }
}

.men__main-content {

  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.04em;

    @media screen and (min-width: 768px) {
      font-size: 56px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
  }

  p {
    font-weight: 600;
    letter-spacing: -0.04em;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      max-width: 400px;
    }
  }
}

.main-content__info {
  display: flex;
  justify-content: space-between;
  column-gap: 95px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.main-content__info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.men__img {
  flex-basis: 55%;
  display: flex;
  align-items: flex-end;
  align-items: center;
  background-image: url('../img/men_with_toys.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    overflow: visible;
  }

  img {
    width: 100%;
    height: auto;
    position: relative;
    top: 6%;
    left: 56%;
    opacity: 0;

    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }
}

.girl {
  background-color: #fff;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}



.girl__main {
  flex-basis: 50%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 100px;
  }
}

.girl__main-block-1 {
    @media screen and (min-width: 768px) {
    padding: 65px;
  }
}

.girl__main-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

.girl__img {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.girl__img-block-2 {
  margin: 75px 0;
}

.main-content__botton {
  display: flex;
  gap: 30px;
  padding-top: 35px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 145px;
    align-items: flex-end;
  }
}

.footer {
  min-height: 300px;

  @media screen and (min-width: 768px) {
    min-height: 160px;
  }

  .container {
    flex-direction: column;
  }

  a {
    color: #757575;
    font-weight: 600;
  }
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #E0E0E0;
  margin: 40px 0 20px 0;
  font-size: 12px;
  padding: 0 100px 20px 40px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    font-size: 14px;
    padding: 0 0 20px 0;
  }

  a {
    transition: 0.3s;

    &:hover {
      color: #303030;
    }
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__name {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 30px;

  a {
    font-size: 0;
  }
}

.footer__social-items { //
  display: flex;
  padding-top: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    filter: contrast(0.4);
  }

  &.footer__social-items--github {
    background-image: url("../img/icon_github.png");

  }

  &.footer__social-items--gt {
    background-image: url("../img/icon_GT.png");

  }

  &.footer__social-items--youtube {
    background-image: url("../img/icon_YouTube.png");
  }
}

.footer__copyright {
  justify-content: center;
  font-size: 10px;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  a {
    transition: 0.3s;
    border-bottom: 1px solid #757575;

    &:hover {
      color: #303030;
    }
  }
}

.bg-color-gray {
  background-color: #F6F5F4;
}
