body {
min-width: 375px;
font-family: 'Montserrat';
}

.girl{
  background-color: #fff;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.bg-color-gray{
  background-color: #F6F5F4;
}

.container {
  max-width: calc(1920px - 370px * 2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }
}

.girl__main {
  flex-basis: 50%;
  padding: 20px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 100px;
  }
}

.girl__main-block-1{
    @media screen and (min-width: 768px) {
    padding: 65px;
  }
}

.girl__main-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

.girl__img {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;

  img {
    width: 100%;
    height: auto;
  }
}

.girl__img-block-1{
  margin: 75px 0;
}

.main-content__botton {
  display: flex;
  gap: 30px;
  padding-top: 35px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 145px;
    align-items: flex-end;
  }
}

.footer {
  min-height: 300px;



  @media screen and (min-width: 768px){
    min-height: 160px;
  }

  .container{
    flex-direction: column;
  }

  a{
    color: #757575;
    font-weight: 600;
    font-size: 14px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #E0E0E0;
  margin: 40px 20px 20px 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px){
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }

    a{
      &:hover {
        color: #5c5a5a;
        font-weight: 650;
      }
    }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.footer__name {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer__social-items { //
  padding-top: 30px;
  height: 0px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &.footer__social-items--github{
    background-image: url("../img/icon_github.png");
  }

  &.footer__social-items--gt{
    background-image: url("../img/icon_GT.png");

  }

  &.footer__social-items--youtube{
    background-image: url("../img/icon_YouTube.png");
  }
}


.footer__copyright {
  justify-content: center;
  font-weight: 600;
  font-size: 12px;

  a {
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
    border-bottom: 1px solid #757575;

    &:hover {
      color: #5c5a5a;
      font-weight: 650;
    }
  }
}
