body {
font-family: 'Montserrat';
width: auto;
}

.container {
  max-width: calc(1920px - 370px * 2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }

  &.container--header {
    justify-content: space-between;
    border-bottom: 2px solid #E0E0E0;
    min-height: 90px;
    align-items: center;

    /* a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.04em;
      color: #757575;
    }  */
  }
}

.header {
}

.header__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__logo {
  border-right: 2px solid #e0e0e0;
  padding-right: 30px;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000000;
  transition: 0.3s;

  &:hover {
      color: #8d8d8d;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 30px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    transition: 0.3s;

    &:first-child {
      color: #000000;

      &:hover {
        color: #8d8d8d;
      }
    }

    &:hover {
        color: #303030;
    }
  }
}

.header__log-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.log-in__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.log-in__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: #C3DCE3;
  transition: 0.3s;

  &:hover {
    filter: contrast(0.85);
  }

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
  }
}

.log-in__user {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  transition: 0.3s;

  &:hover {
      color: #303030;
  }
}

.log-in__authoriz {
  display: flex;
  align-items: center;

  a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    transition: 0.3s;

    &:hover {
      color: #8d8d8d;
    }
  }
}

.men {
  background-color: #fff;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.men__main {
  flex-basis: 45%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 95px 0px 135px 0px;
  }
}

.men__main-content {

  h2 {
    font-size: 56px;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
  }

  p {
    font-weight: 600;
    letter-spacing: -0.04em;

    @media screen and (min-width: 768px) {
      max-width: 400px;
    }
  }
}

.main-content__info {
  display: flex;
  justify-content: space-between;
  column-gap: 95px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.main-content__info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.men__img {
  flex-basis: 55%;
  display: flex;
  align-items: flex-end;
  align-items: center;
  background-image: url('../img/men_with_toys.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

    img {
    width: 100%;
    height: auto;
    position: relative;
    top: 6%;
    left: 56%;

  }
}

.girl {
  background-color: #fff;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}



.girl__main {
  flex-basis: 50%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 100px;
  }
}

.girl__main-block-1{
    @media screen and (min-width: 768px) {
    padding: 65px;
  }
}

.girl__main-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

.girl__img {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.girl__img-block-2{
  margin: 75px 0;
}

.main-content__botton {
  display: flex;
  gap: 30px;
  padding-top: 35px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 145px;
    align-items: flex-end;
  }
}

.footer {
  min-height: 300px;



  @media screen and (min-width: 768px){
    min-height: 160px;
  }

  .container{
    flex-direction: column;
  }

  a{
    color: #757575;
    font-weight: 600;
    font-size: 14px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #E0E0E0;
  margin: 40px 20px 20px 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px){
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }

  a{
    transition: 0.3s;

    &:hover {
      color: #303030;
    }
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.footer__name {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 30px;

  a {
    font-size: 0;
  }
}

.footer__social-items { //
  display: flex;
  padding-top: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    filter: contrast(0.4);
  }

  &.footer__social-items--github{
    background-image: url("../img/icon_github.png");

  }

  &.footer__social-items--gt{
    background-image: url("../img/icon_GT.png");

  }

  &.footer__social-items--youtube{
    background-image: url("../img/icon_YouTube.png");
  }
}

.footer__copyright {
  justify-content: center;
  font-weight: 600;
  font-size: 12px;

  a {
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
    border-bottom: 1px solid #757575;

    &:hover {
      color: #303030;
    }
  }
}

.bg-color-gray {
  background-color: #F6F5F4;
}
