main {
  @media screen and (max-width: 175px) {
    width: 175px;
  }
}

.girl_bg-color-gray{
  background-color: #F6F5F4;
}

.girl{
  background-color: #fff;
}

.container {
  max-width: calc(1920px - 370px * 2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 0;
    flex-direction: row;
  }
}

.girl__main {
  flex-basis: 50%;
  padding: 20px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 100px;
  }
}

.girl__main-block-1{
    @media screen and (min-width: 768px) {
    padding: 65px;
  }
}

.girl__main-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

.girl__img {
  flex-basis: 50%;
  display: flex;
  align-items: flex-end;

  img {
    width: 100%;
    height: auto;
  }
}

.girl__img-block-1{
  margin: 75px 0;
}

.main-content__botton {
  display: flex;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 7px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 145px;
    align-items: flex-end;
  }
}
.main-content__botton-left {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 130px;
  background-color: #F2D4DC;
  border-radius: 14px;
  margin-left: 1px;

    img{
      position: relative;
      top: -35px;
      left: -1px;
  }

  a{
    color: #945069;
  }
}

.main-content__botton-right {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 170px;
  background-color: #C3DCE3;
  border-radius: 14px;

  img{
    position: relative;
    top: -35px;
    left: 30px;
  }

}
